.about-container {
  display: grid;
  // grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-large) {
      // grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }

  // @media only screen and (max-width: $bp-medium) {
  //     grid-template-rows: 6rem calc(100vh - 6rem);
  // }
}

.about-header {
  background-color:var(color-gray-dark-1);
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba(#182b41, .93), rgba(#101d2c, .93)), url('../img/inspect-house.jpg');
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
  }

  @media only screen and (max-width: $bp-small) {
      padding: 5rem;
  }

  &-block {
    content: '';
    background: radial-gradient(rgb(233, 222, 222), rgb(230, 221, 221));
    // background-color: var(--color-primary);
    color: var(--color-primary);
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    user-select: none;
  }

  &__logo {
      height: 14rem;
      justify-self: center;
  }

  &__phrase {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-column-gap: 1.5rem;
      align-items: center;

      font-size: 1.6rem;
      color: var(--color-gray-light-2);

      &::before,
      &::after {
          content: "";
          height: 1px;
          display: block;
          background-color: currentColor;
      }
  }

  &__info {
    font-size: 1.5rem;
    color: var(--color-gray-light-1);
    text-align:center;

    img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%);
    }
  }
}


.about-eddie {
  background-color: var(--color-secondary);
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
  }

  &-heading {
    font-size: 1.6rem;
    color: var(--color-gray-light-2);
    text-transform: uppercase;
  }

  &__list {
      display: grid;
      // grid-template-columns: min-content max-content;
      grid-column-gap: 2rem;
      grid-row-gap: 5vh;
      align-items: start;
      justify-items: center;

      @media only screen and (max-width: $bp-medium) {
          // grid-template-columns: repeat(3, min-content max-content);
      }

      @media only screen and (max-width: $bp-small) {
          // grid-template-columns: min-content max-content;
      }
  }

  &__img {
    width: 25rem;
    border-radius: 50%;
    display: block;
  }

  &__sold {
    text-transform: uppercase;
    color: var(--color-gray-light-2);
    margin-top: -3px;
    text-align:center;
  }

  &__cert {
    width: 10rem;
    display:block;
    margin: 0 auto;
  }
}
