.logo {
  height: 11rem;
  margin-left: 12rem;
  position:relative;
  z-index:0;
}

.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-right:12rem;
 

  //direct children
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display:flex;
    align-items:center;
  }

  & > *:hover {
    background-color: var(--color-gray-light-2);
  }

  &__icon {
    // height: 2.25rem;
    // width: 2.25rem;
    fill: var(--color-gray-dark-2);
  }
}

//OVERVIEW button inline
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  // border-bottom: 1px solid currentColor;
  padding: .5rem;
  margin-left: 1rem;
  display: inline-block;
  background-color: var(--color-primary);
  color:var(--color-gray-light-2);
  border-radius: 10rem;
  cursor:pointer;
  transition: .2s;
  display:flex;
  align-self:center;
  box-shadow: 0 5px 5px rgba(65, 62, 62, 0.377);
  transition: .2s;

  &:hover {
    transform:scale(1.1);
  }
  &:active {
    transform:scale(1.0);
  }
  &:focus{
    outline: 0;
  }
}