// Carousel fade transition
.carousel-fade {
	.carousel-item {
		display: block;
		position: absolute;
		opacity: 0;
		transition: opacity .75s ease-in-out;

		&.active {
			opacity: 1;
		}
	}
}

.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 50rem;

}

.carousel-item {
  position:relative;
  &:nth-child(1) {
    background-image: url('../img/inspect-house.jpg');
    background-size: cover;
    background-position: 0 -200px;
    animation: zoom 40s forwards;
    animation-iteration-count: 1;
    background-repeat: no-repeat;
  }
  &:nth-child(2) {
    background-image: url('../img/eddie-frontdoor.jpg');
    background-size: cover;
    background-position: 0 -200px;
    animation: zoom2 40s forwards;
    animation-iteration-count: 1;
    background-repeat: no-repeat; 
  }
  &:nth-child(3) {
    background-image: url('../img/eddie-boiler.jpg');
    background-size: cover;
    background-position: 0 -200px;
    animation: zoom3 40s forwards;
    animation-iteration-count: 1;
    background-repeat: no-repeat;  
  }
}
.carousel-caption{
  background-color:rgba(10, 10, 10, 0.705);
  width: 30rem;
  height:30rem;
  position:absolute;
  top: 30%;
  left: 10%;
}
.carousel-header{
  font-size:2.5rem;
  margin-top:1rem;
  font-family: 'Do Hyeon', sans-serif;
}
.carousel-info{
  margin-top:3rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-family: 'Tajawal', sans-serif;
  font-weight: none !important;
}


.carousel-control-prev,
.carousel-control-next {
  width: 5rem;
  transition: 1s;
  &:hover {
    background-color:black;
  }
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  transition: 1s;
  position: absolute;
  top: 50%;
  left: 25%;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  transition:1s;
  position: absolute;
  top: 50%;
  right: 25%;
}


.carousel-control-prev:hover .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next:hover .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}