.body-container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  margin-top: 0;
  background-color: var(--color-gray-light-2);
  box-shadow: var(--shadow-dark);
}
.content {
  // margin: 0;
}
.header {
  font-size: 1.6rem;
  height: 12rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-gray-light-2);
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar{
  background-color: var(--color-gray-dark-1);
  // flex: 0 0 100%;
  // width: 100%;
  // display:flex;
  // justify-content: center;
}

.main-container{
  background-color: orange;
  // flex: 1;
  // height: 80rem;
}