#our-mission {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-gray-light-1);
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.3rem;
  }
}

//main body text
.mission-description {
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(43, 42, 42, 0.5);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;

  // @media only screen and (max-width: 900px) {
  //     padding: 2rem;
  //     margin-right: 3rem;
  // }

  // @media only screen and (max-width: 600px) {
  //     margin-right: 0;
  //     margin-bottom: 3rem;
  // }
}

//main body list items
.list {
  margin-top: 1rem;

  &-header {
    margin-bottom: 1rem;
  }
}

//main body cpi logo image
.mission-cpi {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;

  &__contact-us {
    margin-right: auto;
  }

  &__logo{
    box-sizing: content-box;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 3px solid #fff;
  }
}

//what we do
.check-list__list {
  display:grid;
  grid-template-columns: max-content(3,1fr);
  // justify-items:center;
  margin-left: 1rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1rem;
  }
  @media only screen and (max-width: 350px) {
    font-size: .8rem;
  }
}
.one {
  grid-column:1/2;
}
.two {
  grid-column:2/3;
}
.three {
  grid-column:3/4;
}
 


////////////////////////////////////////
// REVIEWS

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.review {
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(58, 56, 56, 0.315);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-gray-light-2);
    font-family: sans-serif;
    z-index: 1;
  }

  // @media only screen and (max-width: $bp-medium) {
  //     padding: 2rem;
  //     margin-bottom: 3rem;
  // }

  &__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
  }

  &__user {
    display: flex;
    align-items: center;

    &-box {
      margin-right:auto;
    }

    &-name {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: .4rem;
    }

    &-date {
      font-size: 1rem;
      color: var(--color-gray-dark-3);
    }
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }
}

 

//Discount Prices section

.discount-container{
  background-color: orange;
  // flex: 1;
  // height: 80rem;
}

.discount {
  padding: 3.5rem 0;
  text-align: center;

  // @media only screen and (max-width: $bp-medium) {
  //     padding: 2.5rem 0;
  // }

  &__contact-us {
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 2.5rem;
  }
}





//imgage/info section to learn more
#inspect {
  // grid-column: center-start / center-end;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.inspect {
  background-color: var(--color-gray-light-1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;

  &__img {
      width: 100%;
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      z-index: 1;
  }

  &-icon {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      fill: var(--color-primary);
      height: 2.5rem;
      width: 2.5rem;
      z-index: 2;
      justify-self: end;
      margin: 1rem;
  }

  &-title {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      justify-self: center;
      align-self: end;
      z-index: 3;

      width: 80%;
      font-family: Tahoma;
      font-size: 1.6rem;
      text-align: center;
      padding: 1.25rem;
      background-color: rgb(0, 0, 0);
      color: #fff;
      font-weight: 400;
      transform: translateY(50%);
  }

  &-desc {
    grid-column: 1/-1;
    font-size: 1.5rem;
    margin: 0 1rem;
    text-align:center;
    display: flex;
    align-items: center;
  }

  &__btn {
    font-size: 1.2rem;
    padding: 1rem;
    grid-column: 1 / -1;
    transition: .2s;
    margin-bottom: 3rem;
    border:none;
    background-color: var(--color-primary-light);
    color: var(--color-gray-light-1);
    transition: .2s;

    &:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-gray-light-1);
    }
    &:focus {
      outline: 0;
      box-shadow:none;
    }
  }
}



@media(max-width: 960px) {
  #our-mission {
    flex-direction: column;
  }
  .mission-description {
    margin-right: 0;
  }
  .review {
    margin: 0;
    margin-top: 2rem;
  }
}



@media(max-width: 500px) {
  #our-mission {
   padding: 0;
  }
  .mission-description {
    flex: 0 0 100%;
  }
}

